<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>{{ page.title }}</title>
		<meta name=Description content="Minimum viable ideas and software solutions.">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
		<link rel="stylesheet" href="assets/site.css" />
	</head>
	<body>
		<header>
			<span>Gossamer Technologies</span>
			<nav>
				<ol>
					<li><a href="/products">Products</a></li>
					<li><a href="#contact-us">Contact</a></li>
				</ol>
			</nav>
		</header>
		<main>
			{{ content }}
			<h2 id="contact-us">Contact Us</h2>
			<p>Ready to transform your manufacturing process? Get in touch with us today to learn more about our IoT solutions and how we can help your business thrive.</p>
			<form class="contact">
				<input type="text" id="first" placeholder="First Name" required>
				<input type="text" id="ladt" placeholder="Last Name" required>
				<input type="email" id="email" placeholder="Email Address" required>
				<textarea id="comment" name="comment" rows="4" required></textarea>
				<input type="submit" value="Submit">
			</form>
		</main>
		<footer>
			<center>
				<small>© 2024 Gossamer Technologies. All rights reserved.</small>
			</center>
		</footer>
	</body>
</html>
